body {
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: white;
}

nav a {
  color: white;
}

nav a:hover {
  color: #f2f2f2;
}

section {
  padding: 50px 0;
}

section#about {
  background-color: #f2f2f2;
}

section#services {
  background-color: #333;
  color: white;
}

section#services .card {
  background-color: #f2f2f2;
  color: #333;
}

#servicesCarousel .carousel-item img {
  width: 100%;
  height: 500px;
  opacity: 0.5;
}

section#contact {
  background-color: #f2f2f2;
}

section#contact .form-control {
  background-color: #f2f2f2;
  border-color: #333;
  color: #333;
}

section#contact .form-control:focus {
  border-color: #333;
  box-shadow: none;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}
